parameter_defaults:
  UpgradeLeappDebug: true
  UpgradeInitCommand: |
    sudo dnf module disable -y container-tools:rhel8
    sudo dnf module enable -y container-tools:2.0
    #https://bugzilla.redhat.com/show_bug.cgi?id=1883379
    #sudo dnf module disable -y virt:rhel
    #sudo dnf module enable -y virt:8.2
  UpgradeLeappCommandOptions: >
    --enablerepo rhel-8-for-x86_64-baseos-rpms
    --enablerepo rhel-8-for-x86_64-appstream-rpms
    --enablerepo rhel-8-for-x86_64-highavailability-rpms
    --enablerepo fast-datapath-for-rhel-8-x86_64-rpms
    --enablerepo ansible-2-for-rhel-8-x86_64-rpms
    --enablerepo openstack-16.1-for-rhel-8-x86_64-rpms
    --enablerepo satellite-tools-6.5-for-rhel-8-x86_64-rpms
